Core/
Drivers/
EWARM/
gcc/
MDK-ARM/
Middlewares/
TouchGFX/App/
TouchGFX/build/
TouchGFX/config/
TouchGFX/generated/
TouchGFX/simulator/
TouchGFX/application.config

STM32CubeIDE/.settings/
STM32CubeIDE/Debug/
STM32CubeIDE/Drivers/
STM32CubeIDE/Middlewares/
STM32CubeIDE/.cproject
STM32CubeIDE/.project
STM32CubeIDE/Application/Startup/
STM32CubeIDE/Application/User/syscalls.c
STM32CubeIDE/Application/User/sysmem.c
STM32CubeIDE/STM32F769I_DISCO.launch
STM32CubeIDE/STM32F769NIHX_FLASH.ld
STM32CubeIDE/STM32F769NIHX_RAM.ld


STM32F769I_DISCO.ioc
.extSettings

.metadata/
RemoteSystemsTempFiles/